
*.prefs

.project

com.thedesertmonk.plugin.hydrogen.core/target/*
com.thedesertmonk.plugin.hydrogen.feature/target/*
com.thedesertmonk.plugin.hydrogen.test/target/*
com.thedesertmonk.plugin.hydrogen.test.dependencies/target/*
com.thedesertmonk.plugin.hydrogen.test.report/target/*
com.thedesertmonk.plugin.hydrogen.site/target/*
