<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Start"
            id="command.start">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="command.start"
            class="com.thedesertmonk.plugin.hydrogen.core.StartHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="toolbar.start"
               label="Start H2 Server">
            <command
                  commandId="command.start"
                  icon="icons/server-launch.png"
                  id="start.toolbar.item"
                  style="pulldown"
                  tooltip="Start H2 Server">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:start.toolbar.item">
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.RecentMenuContributionItem"
               id="hydrogen.core.dynamic1">
         </dynamic>
         <separator
               name="hydrogen.core.separator1"
               visible="true">
         </separator>
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.WebServerMenuContributionItem"
               id="hydrogen.core.dynamic3">
         </dynamic>
         <separator
               name="hydrogen.core.separator2"
               visible="true">
         </separator>
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.ConfigurationMenuContributionItem"
               id="hydrogen.core.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
