<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="hydrogen.core.launchCategory"
            delegate="com.thedesertmonk.plugin.hydrogen.core.contributions.configuration.launch.LaunchConfigurationDelegate"
            delegateName="Hydrogen H2 Server Launcher"
            id="hydrogen.core.launchConfigurationType1"
            modes="run"
            name="H2 Server">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="hydrogen.core.launchConfigurationType1"
            icon="icons/server-h2.png"
            id="hydrogen.core.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.thedesertmonk.plugin.hydrogen.core.contributions.configuration.launch.tab.LaunchConfigurationTabGroup"
            id="hydrogen.core.launchConfigurationTabGroup1"
            type="hydrogen.core.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.thedesertmonk.plugin.hydrogen.core.contributions.preferencepage.HydrogenPreferencePage"
            id="com.thedesertmonk.plugin.hydrogen.core.contributions.preferencepage.SamplePreferencePage"
            name="Hydrogen">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.thedesertmonk.plugin.hydrogen.core.contributions.preferencepage.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Launch H2 Server"
            id="hydrogen.core.actionSet1"
            label="H2 Launch"
            visible="true">
         <action
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.toolbar.HydrogenLaunchToolbarAction"
               icon="icons/server-h2.png"
               id="hydrogen.core.action1"
               label="H2 Launch"
               pulldown="true"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/run">
         </action>
         <menu
               id="hydrogen.core.menu3"
               label="H2 Launch">
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/server-h2-banner.png"
            category="hydrogen.core.launchCategory"
            id="hydrogen.core.launchGroup1"
            image="icons/server-h2.png"
            label="H2 Launch"
            mode="run">
      </launchGroup>
   </extension>

</plugin>
