<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Start"
            id="command.start">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="command.start"
            class="com.thedesertmonk.plugin.hydrogen.core.StartHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="toolbar.start"
               label="Start H2 Server">
            <command
                  commandId="command.start"
                  icon="icons/server-launch.png"
                  id="start.toolbar.item"
                  style="pulldown"
                  tooltip="Start H2 Server">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:start.toolbar.item">
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.RecentMenuContributionItem"
               id="hydrogen.core.dynamic1">
         </dynamic>
         <separator
               name="hydrogen.core.separator1"
               visible="true">
         </separator>
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.WebServerMenuContributionItem"
               id="hydrogen.core.dynamic3">
         </dynamic>
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.TCPServerMenuContributionItem"
               id="hydrogen.core.dynamic1">
         </dynamic>
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.PGServerMenuContributionItem"
               id="hydrogen.core.dynamic2">
         </dynamic>
         <separator
               name="hydrogen.core.separator2"
               visible="true">
         </separator>
         <dynamic
               class="com.thedesertmonk.plugin.hydrogen.core.contributions.menu.LaunchConfigurationsMenuContributionItem"
               id="hydrogen.core.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.thedesertmonk.plugin.hydrogen.core.contributions.configuration.launch.LaunchConfigurationDelegate"
            delegateName="Hydrogen H2 Server Launcher"
            id="hydrogen.core.launchConfigurationType1"
            modes="run"
            name="H2 Server">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="hydrogen.core.launchConfigurationType1"
            icon="icons/server-launch.png"
            id="hydrogen.core.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.thedesertmonk.plugin.hydrogen.core.contributions.configuration.launch.LaunchConfigurationTabGroup"
            id="hydrogen.core.launchConfigurationTabGroup1"
            type="hydrogen.core.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.thedesertmonk.plugin.hydrogen.core.contributions.configuration.launch.LaunchConfigurationTab"
            group="hydrogen.core.launchConfigurationTabGroup1"
            id="hydrogen.core.tab1"
            name="hydrogen.core.tab1">
      </tab>
   </extension>

</plugin>
